!.gitignore
node_modules
.settings/
**/*.svn
*.svn
*.swp
*.sublime-project
*.sublime-workspace
lib/doc/
lib-cov/
.DS_Store
.idea/*
test_/*
design/*
public/*
src/app/public/*
uploads/*
app/server/log/*.txt
tmp/
.env
datalogs/*.log
.coverrun
.vscode
.coverdata/
build/*
src/release/**/*.log
src/release/*/*.js
src/release/mobile/cache.json
npm-debug.log
yarn-error.log
package-lock.json
version.conf

